<h1>All of the posts</h1>
<div class="post-boxes-container">
  <% @posts.each do |post| %>
    <div class="post-box">
      <%= post.body %>
      <%= time_ago_in_words(post.created_at) %>
      <% if current_user %>
        <%= post.user.username %>
      <% end %>
    </div>
  <% end %>
</div>
