<h1>All of the posts</h1>
<% @posts.each do |post| %>
  <%= post.body %>
  <% if current_user %>
    <%= post.user.email %><br>
  <% end %>
<% end %>
<%= button_to "logout", destroy_user_session_path, method: :delete  %>
