<h1>All of the posts</h1>
<div class="post-text">
  <% @posts.each do |post| %>
    <div class="post-box">
      <%= post.body %>
      <% if current_user %>
        <br><%= post.user.email %>
      <% end %>
      <br><br>
    </div>
  <% end %>
</div>
<%= button_to "login", new_user_session_path %>
<%= button_to "logout", destroy_user_session_path, method: :delete  %>
